<%- include('./partials/head', { title: PageTitle }) %>
    <br><br>
    <h1 style="align-items: center;color: red;align-content: center;align-self: center;text-align: center;">Sorry, page
        Not Found!</h1>